body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  background: rgb(92, 0, 75);
  background: linear-gradient(
    90deg,
    rgba(92, 0, 75, 1) 0%,
    rgba(9, 121, 69, 1) 25%,
    rgba(8, 157, 187, 1) 100%
  );
}
